 body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1;
    height: 100%;
    margin: 10px;
    padding: 0px;
    background-color: aquamarine;
  }
  header a{
    padding: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    float: left;
    text-decoration: none;
   }
    a:hover {
    background-color:gray; 
     } 
    @media screen and (max-width: 500px) {
    #nave a:not(:first-child) {display: none;}
     }
  